*{
    box-sizing: border-box;
}
h1,h3,body,a{
    margin:0;
    padding:0;
}
@font-face{
    font-family: 'demo';
    src:url("../fonts/HelveticaNeueLTPro-ThEx.otf");
}
@font-face{
    font-family: 'demo1';
    src:url("../fonts/FZSTJW.TTF");
}
body {
    color: #333;
    font-style: normal;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
}
.beijin{
    width:100%;
    height:300px;
    background-image: url("../img1/header.gif");
    background-repeat: no-repeat;
    background-size:auto 400px;
    background-position:left top;
    background-color: rgba(118, 116, 116,1);
    overflow: hidden;
}
ul,li{
    list-style: none;
}

.show>div{
    padding: 2px;
    height:200px;
    background-position: center;
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-color: #FBFBFB;
    border: 1px solid #E2E2E2;
}
.show>.one{

    background-image:url("../img1/图片1.png");
}
.show>.two{

    background-image:url("../img1/图片2.png");
}
.show>.three{

    background-image: url("../img1/图片3.png");
}
.show>.four{

    background-image: url("../img1/图片4.png");

}

.leader{
    width:100%;
    height:40px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 16px;
}
/*.leader1{
    min-width: 1024px;
}*/
.leader2{
    min-width: 265px;
}
.lie{
    width:100%;
    background:rgba(0, 0, 0, 0.6);
    border-top:1px solid #424242;
    margin-top: -1px;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
}
.zhu{
    width:100%;
    display: none;
    margin-top: -5px;
    position: absolute;
    top:40px;
    z-index: 100;

}

.zhu>a{
    display: block;
}
.dengyu{
    cursor: pointer;
}
.row>a{
    cursor: pointer;
}
.lbo{
    width:100%;
    text-align: center;
    position: relative;
    height: 400px;
    background-color:#fbfbfb;
    overflow: hidden;

}

.box{
    width:400%;
    height:100%;
    overflow: hidden;
}
.box>div{
    background-size: auto 420px;
}
.banner{
    width:100%;
    height:100%;
    overflow: hidden;
    color: white;
}
.list{
    width:25%;
    height:100%;
    background-size: auto 610px;
    color: white;
    float: left;
}

ul{
    width:300px;
    height:30px;
    position: absolute;
    bottom: 8px;
    margin:auto;
    left:0;
    right:0;
}
.yuan>li{
    float: left;
    width:10px;
    height:10px;
    border-radius: 50%;
    box-shadow:0 0 3px black;
    margin-left: 15px;
    margin-top: 10px;
}
.yuan>li:nth-child(1){
    margin-left: 56px;
}

.box>.aa1{
    background-image: url("../img1/图片1.png");
}
.box>.aa2{
    background-image: url("../img1/图片2.png");
}
.box>.aa3{
    background-image: url("../img1/图片3.png");
}
.box>.aa4{
    background-image: url("../img1/图片4.png");

}
.banner>.title1>div{
    width:70px;
    height:70px;
    margin: 0 auto;
    background-image:url("../img1/me-nose.gif");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    border-radius: 50%;
  
}

.js{
    height:80px;
    font-size: 30px;
    font-weight: bold;
    line-height:80px;
    text-align: center;
    color:#287e7d;
    background: #F0F0F0;
    border-top: 1px solid #E2E2E2;
      font-family: "demo";

}
.zl{
   
}
.lbo1{
    background: #E6E6E6;
}
.jb{
    background-image: url(../img1/bg.png);
    background-repeat: repeat;
    background-size: 100% auto;

}
.jb>.he_border2{
    width: 222px;
    height: 222px;
    margin: 20px auto;
   /*background-size: auto 340px;*/
   overflow: hidden;
  /*  background-repeat: no-repeat;
   background-position: -70 0px;*/
   display: block;
   border-radius: 50%;
}
.jb .he_border2_img{
  width: 220px;
  height: 220px;
   border-radius: 50%;
   overflow: hidden;
}
.ssss{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.ac{
    height: 220px;
    padding-top: 30px;
}
.jb>.zl{
    width: 50%;
    height:200px;
    text-align: left;
    position: relative;
    padding: 20px 0 0 40px;
    font-family: "黑体";
    font-size: 20px;
    color: white;
}
.youlin{
    width: 30px;
    height: 55px;
    border: 2px solid #DEDEDE;
    margin: 40px auto;
    border-radius: 15px;
    position: relative;
}
.dian1{
    width: 4px;
    height: 10px;
    background: #DAD8D8;
    left: 50%;
    margin-left: 11px;
    border-radius: 2px;
    top: 50%;
    margin-top: 32px;
    -webkit-animation-name:bounce1;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
}
.co{
    position: absolute;
    top:178px;
    width:100%;
    height:69px;

}
.zy{

     width: 31px;
    height: 55px;
    background: rgba(201, 199, 199,0.8);
    position: absolute;
    text-align: center;
    line-height: 55px;
    color:#A0A0A0;
    cursor: pointer;
   z-index: 335;
}
.zy:hover{
    background: rgba(142, 142, 142,0.8);
    color: white;
}
.left1{
    left:0;

}
.right1{
    right:0;
}
.erwei{
  width: 140px;
    height: 140px;
    background-image: url("../img1/1111.png");
    background-size: 140px 140px;
    position: fixed;
    right: -140px;
    bottom: 0px;
}
.an{
   width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #FF9D57;
    position: absolute;
    top: 48px;
    left: -70px;
    border-radius: 20px;
    color: white;
}
@-webkit-keyframes bounce1{
    from,100%{
        -webkit-transform:translate3d(0,0,0);}
    50%{-webkit-transform:translate3d(0,-24px,0);}
}
.he_slideAllDown{background:rgba(254,114,83,0.85);width:100%;;padding:0;margin:0;position:relative;box-sizing:border-box;cursor:pointer;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
.he_slideAllDown .he_slideAllDown_img{color:#fff;font-weight:bold;text-align:center;line-height:240px;position:relative;display:block;width:100%;font-family: "黑体",
   ;padding:0;margin:0;opacity:.9;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
.he_slideAllDown:hover .he_slideAllDown_img{opacity:1;-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
.he_slideAllDown .he_slideAllDown_caption{color:#fff;-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
.he_slideAllDown .he_slideAllDown_caption,.he_slideAllDown .he_slideAllDown_caption > a{position:absolute;top:0;left:0;width:100%;height:100%;padding:0;margin:0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
.he_slideAllDown .he_slideAllDown_caption_p{font-size:0.5em;text-align:center;width:80%;position:absolute;top:-50%;left:10%;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;transition:all .6s ease-in-out;overflow:hidden;opacity:0}
.he_slideAllDown:hover .he_slideAllDown_caption_p{color:white;top:35%;opacity:1;font-family:"微软雅黑"}
.he_slideAllDown_img{font-weight: 700;font-size: 1.3em;}
.he_slideAllDown .img1{background-image:url(../img1/121.jpg);background-size: auto,240px;background-position:center;}
.he_slideAllDown .img2{background-image: url(../img1/600.jpg);background-size: auto,240px;background-position: center;}
.he_slideAllDown .img3{background-image: url(../img1/601.jpg);background-size: auto,240px;background-position: center;}
.he_slideAllDown .img4{background-image: url(../img1/124.jpg);background-size: auto,240px;background-position: center;}
.jb{
    height:480px;
    overflow: hidden;
    position: relative;
}

.he_border2{background:#fe7253;width:218px;height:218px;padding:0;margin:0;border:1px solid #000;position:relative;box-sizing:border-box;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
.he_border2 .he_border2_img{display:block;width:100%;padding:0;margin:0;position:relative;opacity:1;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
.he_border2:hover .he_border2_img{position:absolute;
             /*-webkit-transform:scale(1.1);*/
             width: 180px;
             height: 180px;
             margin-left: 20px;
             margin-top: 20px;
    -moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);opacity:.6}
.he_border2 .he_border2_caption{color:#fff;padding:0;margin:0;-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden}
.he_border2 .he_border2_caption::before,.he_border2 .he_border2_caption::after{position:absolute;content:'';opacity:0;-webkit-transition:opacity 0.4s,-webkit-transform .4s;-moz-transition:opacity 0.4s,-moz-transform .4s;-o-transition:opacity 0.4s,-o-transform .4s;transition:opacity 0.4s,transform .4s}
.he_border2 .he_border2_caption::before{top:18%;right:17%;bottom:18%;left:17%;border-top:1px solid #fff;border-bottom:1px solid #fff;-webkit-transform:scale(0,1);-moz-transform:scale(0,1);-o-transform:scale(0,1);transform:scale(0,1);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;transform-origin:0 0}
.he_border2 .he_border2_caption::after{top:19%;right:18%;bottom:19%;left:18%;border-right:1px solid #fff;border-left:1px solid #fff;-webkit-transform:scale(1,0);-moz-transform:scale(1,0);-o-transform:scale(1,0);transform:scale(1,0);-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-o-transform-origin:100% 0;transform-origin:100% 0}
.he_border2:hover .he_border2_caption::before,.he_border2:hover .he_border2_caption::after{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
.he_border2 .he_border2_caption,.he_border2 .he_border2_caption > a{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden; z-index:1000}
.he_border2 .he_border2_caption_h{font-size:1.3em;font-weight:700;text-align:center;width:80%;position:absolute;top:20%;left:10%;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out;overflow:hidden;opacity:1}
.he_border2 .he_border2_caption_p{font-size:1em;text-align:center;width:80%;position:absolute;top:60%;left:10%;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out;overflow:hidden;opacity:0}
.he_border2:hover .he_border2_caption_p{top:45%;opacity:1}

/*.lxy{width:100%;overflow:hidden;position:relative;height:100%}*/
.jb>div{width:4px;height:4px;background:#cccccc;position:absolute;top:0px;right:0px;border-radius:100%;background: white;}
.jb>div>div{width:3px;height:3px;background:#ccc;position:absolute;top:-2px;right:-2px;}
.jb>div>div>div{width:2px;height:2px;background:#ccc;position:absolute;top:-2px;right:-2px;}
.jb>div>div>div div{width:1px;height:1px;background:#ccc;position:absolute;top:-1px;right:-1px;}


@media screen and (max-width: 760px){


    .title2{
        font-size: 1.5em;
        margin: 10px auto 7px;
        text-align: center;
        font-family: "demo1";
    }
    .content{
        font-size: 0.5em;
        font-weight: normal;
        margin: 10px auto 7px;
        text-align: center;
        display:block;
    }

    .list{
        background-size:auto 401px;
        background-repeat: no-repeat;
        background-position:bottom center;
    }


    .list ul li{
        color: #333;
        font-weight: normal;
    }
    .row>.hidden{
        position: relative;
    }


}
.tubiao{
        width: 80%;
        margin: 100px auto 50px;
    }
    .biao{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-left: 10%;
        display: inline-block;
        position: relative;
        animation-name:bounce1;
    }
    .biao>img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .hiden{
        width: 180px;
        height: 40px;
        border-radius: 25px;
        position: absolute;
        top: -70px;
        left: -30px;
        border: 1px solid #4C4C4C;
        text-align: center;
        line-height: 40px;
        display: none;
        color: white;

    }
    .hidden1{
     background: #F6B32E;
    }
    .hidden2{
     background: #00658B;
    }
     .hidden3{
     background: #8E53FB;
    }
     .hidden4{
     background: #F12B82;
    }

}


 .title2>span:nth-child(1){
    display: inline-block;
      -webkit-animation-name:bounce1;
      -webkit-animation-delay:1s;
 }
 .title2>span:nth-child(2){
    display: inline-block;
      -webkit-animation-name:bounce1;
      -webkit-animation-delay:2s;
 }
 .title2>span:nth-child(3){
    display: inline-block;
      -webkit-animation-name:bounce1;
      -webkit-animation-delay:3s;
 }
 .title2>span:nth-child(4){
    display: inline-block;
      -webkit-animation-name:bounce1;
      -webkit-animation-delay:4s;
 }
 .title2>span:nth-child(5){
    display: inline-block;
      -webkit-animation-name:bounce1;
      -webkit-animation-delay:5s;
 }
 .title2>span:nth-child(6){
    display: inline-block;
      -webkit-animation-name:bounce1;
      -webkit-animation-delay:6s;
 }
 .title2>span:nth-child(7){
    display: inline-block;
      -webkit-animation-name:bounce1;
      -webkit-animation-delay:7s;
 }
 .title2>span:nth-child(8){
    display: inline-block;
      -webkit-animation-name:bounce1;
      -webkit-animation-delay:8s;
 }
 .animated {

  animation-duration: 1s;
  animation-fill-mode: both;

  animation-iteration-count:1;
}
.animated1{

  animation-duration: 1s;
  animation-fill-mode: both;

  animation-iteration-count:infinite;
}

@-webkit-keyframes bounce1{
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
@keyframes bounce3{
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
.footers{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 80px;
    line-height: 50px;
    color: white;
    font-size: 15px;
    font-family: "微软雅黑";
        background: rgba(8, 8, 8, 0.4);
}
@media screen and (min-width: 760px){
    .title1{
        margin-top: 30px;
    }
    .beijin{
        height: 590px;
        width:100%;
        background-size:auto 600px;
    }
    .title2{
        font-size: 5em;
        margin: 70px auto 15px;
        text-align: center;
        font-family: "demo1";
       color: #F1F1F1;
        font-weight: initial;
    }
    .content{
        font-size: 1em;
    margin-right: 80px;
    font-weight: lighter;
    text-align: right;
    margin-top: 30px;
    color: #ECECEC;
     -webkit-animation-name:bounce3;
      -webkit-animation-delay:8s;
      display:block;

    }

    .show>div{
        height:180px;
        background-size: auto 100%;
    }


}
@media screen and (min-width: 760px) and (max-width: 1120px) {
    .beijin{
        height:590px;
        background-size:auto 600px;
    }
    .show>div{
        height:200px;
        background-position:top center;
        background-size:auto 100%;
        border-top: 4px solid #D7D7D7;
        border-left:4px solid #D7D7D7;
        background-color: #FBFBFB;
    }
    .show>div:nth-child(2){
        border-right: 4px solid #D7D7D7;
    }
    .show>div:nth-child(4){
        border-right: 4px solid #D7D7D7;
        border-bottom: 4px solid #D7D7D7;
    }
    .show>div:nth-child(3){
        border-bottom: 4px solid #D7D7D7;
    }
}
@media screen and (max-width: 790px){
    .he_slideAllDown .img1 {
    background-image: url(../img1/121.jpg);
    background-size: auto,240px;
    background-position: center;
  }

}
@media screen and (max-width:1050px){
    .biao{
        margin-left: 20%;
        margin-top:60px;
    }
    .tubiao{
        margin: 0 auto;
    }
}
@media screen and (max-width: 526px){
     .hiden{
        width: 180px;
        height: 40px;
        border-radius: 25px;
        position: absolute;
        top: 40px;
        left: 130px;
        border: 1px solid #4C4C4C;
        text-align: center;
        line-height: 40px;
        display: none;
        color: white;

    }
}
@media screen and (max-width: 516px){
    .youlin{

        margin: 20px auto;
        width: 20px;
        height: 40px;
        border: 1px solid #DEDEDE;
        border-radius: 10px;
        position: relative;
    }
    .dian1{
        width: 2px;
        height: 6px;
        background: #DAD8D8;
        left: 50%;
        margin-left:8px;
        border-radius: 2px;
        top: 50%;
        margin-top: 28px;}
    .lbo{
        background-color:#fbfbfb;
        height:200px;

    }
    .box{
        height: 200px;
    }
    .box>.list{

        background-size:auto 200px;
        background-repeat: no-repeat;
        background-position:bottom center;
    }
    .co{
        top:78px;
    }
}